@page "/appointment"
@inject AppointmentService appointmentService
@inject IJSRuntime JSRuntime
@using HealthCare.Core.Models


<h3>View Appointment Details</h3>

@* <label for="appointmentId">Appointment ID:</label>
<input id="appointmentId" @bind="appointmentId" />

<button @onclick="LoadAppointment">View Details</button>

@if (appointmentDetails != null)
{
    <div>
        <p>ID: @appointmentDetails.Id</p>
        <p>Patient: @appointmentDetails.Patient.Name</p>
        <p>Caregiver: @appointmentDetails.Caregiver.Name</p>
        <p>Time: @appointmentDetails.StartTime</p>
        <p>Service: @appointmentDetails.Service</p>
        <p>Description: @appointmentDetails.Description</p>
    </div>
}
else
{
    <p>No appointment details found.</p>
} *@

<div id='calendar'></div>

@* @code {
    private string appointmentId;
    private Appointment appointmentDetails;

    private void LoadAppointment()
    {
        Guid parsedId;
        if (Guid.TryParse(appointmentId, out parsedId))
        {
            appointmentDetails = appointmentService.GetAppointment(parsedId);
        }
        else
        {
            
            appointmentDetails = null;
        }
    } *@

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeCalendar", "patients");
        }
    }
}
