@page "/my_page"
@using HealthCare.Core.Models;
@inject PatientService patientService
@inject AppointmentService appointmentService

<h3>My patient page</h3>

<h4 class="MyPage">Personal</h4>

@* @foreach (var patient in patientService.GetAllPatients())
{
    <div>
        <p>Title: @patient.Id</p>
        <p>Comment: @patient.Name</p>
        <p>Time: @patient.Email</p>
    </div>
} *@


    <div>
        <p>Id: @patientService.DuringDevFindOnePatient().Id</p>
        <p>Name: @patientService.DuringDevFindOnePatient().Name</p>
        <p>Email: @patientService.DuringDevFindOnePatient().Email</p>
    </div>


    <h4 class="PatientAppointments">Appointments</h4>
    @foreach (var appointment in appointmentService.GetAppointmentsByPatientId(patientService.DuringDevFindOnePatient().Id))
    {
<div>
    <p>Appointment-Id: @appointment.Id</p>
    <p>Time: @appointment.Time</p>
    <p>Service: @appointment.Service</p>
    <p>Caregiver: @appointment.Caregiver.Name</p>
</div>
    }


@code {

    public HealthCare.Core.Models.Patient patient = new HealthCare.Core.Models.Patient();

    // private Patient patientDetails;

    // private void LoadPatient()
    // {

    //     patientDetails = patientService.DuringDevFindOnePatient();

    // }
}
